root = true

[*]
charset = utf-8
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = false
max_line_length = 120
tab_width = 4
ij_continuation_indent_size = 8
ij_formatter_off_tag = @formatter:off
ij_formatter_on_tag = @formatter:on
ij_formatter_tags_enabled = true
ij_smart_tabs = false
ij_visual_guides = 
ij_wrap_on_typing = false

[.editorconfig]
ij_editorconfig_align_group_field_declarations = false
ij_editorconfig_space_after_colon = false
ij_editorconfig_space_after_comma = true
ij_editorconfig_space_before_colon = false
ij_editorconfig_space_before_comma = false
ij_editorconfig_spaces_around_assignment_operators = true

[{*.al,*.cgi,*.ph,*.pl}]
ij_continuation_indent_size = 4
ij_perl-_align_annotation_type_specifiers = true
ij_perl-_align_attributes = false
ij_perl-_align_comments_on_consequent_lines = true
ij_perl-_align_consecutive_assignments = 0
ij_perl-_align_fat_comma = true
ij_perl-_align_multiline_array_initializer_expression = false
ij_perl-_align_multiline_binary_operation = false
ij_perl-_align_multiline_chained_methods = false
ij_perl-_align_multiline_parameters = true
ij_perl-_align_multiline_parameters_in_calls = false
ij_perl-_align_multiline_ternary_operation = false
ij_perl-_align_qw_elements = false
ij_perl-_align_rightward_calls = false
ij_perl-_align_variable_declarations = false
ij_perl-_array_initializer_wrap = off
ij_perl-_assignment_wrap = off
ij_perl-_attributes_wrap = 0
ij_perl-_binary_operation_sign_on_next_line = false
ij_perl-_binary_operation_wrap = off
ij_perl-_brace_style_compound = 0
ij_perl-_brace_style_namespace = 0
ij_perl-_brace_style_sub = 0
ij_perl-_call_parameters_wrap = off
ij_perl-_else_on_new_line = true
ij_perl-_keep_indents_on_empty_lines = false
ij_perl-_main_format = 0
ij_perl-_method_call_chain_sign_next_line = true
ij_perl-_method_call_chain_wrap = off
ij_perl-_method_parameters_wrap = off
ij_perl-_optional_dereference = 0
ij_perl-_optional_dereference_hashref_element = 0
ij_perl-_optional_dereference_simple = 0
ij_perl-_optional_parentheses = 0
ij_perl-_optional_quotes = 0
ij_perl-_optional_quotes_hash_index = 0
ij_perl-_optional_quotes_heredoc_opener = 0
ij_perl-_optional_trailing_comma = 0
ij_perl-_place_assignment_sign_on_next_line = false
ij_perl-_qw_list_wrap = 0
ij_perl-_space_after_colon = true
ij_perl-_space_after_comma = true
ij_perl-_space_after_for_semicolon = true
ij_perl-_space_after_heredoc_operator = false
ij_perl-_space_after_quest = true
ij_perl-_space_after_variable_declaration_keyword = true
ij_perl-_space_before_attribute = true
ij_perl-_space_before_colon = true
ij_perl-_space_before_comma = false
ij_perl-_space_before_do_left_brace = true
ij_perl-_space_before_else_keyword = true
ij_perl-_space_before_for_semicolon = false
ij_perl-_space_before_if_left_brace = true
ij_perl-_space_before_if_parentheses = true
ij_perl-_space_before_method_parentheses = false
ij_perl-_space_before_quest = true
ij_perl-_space_within_empty_method_parentheses = false
ij_perl-_spaces_around_additive_operators = true
ij_perl-_spaces_around_assignment_operators = true
ij_perl-_spaces_around_bitwise_operators = true
ij_perl-_spaces_around_concat_operator = true
ij_perl-_spaces_around_dereference = false
ij_perl-_spaces_around_equality_operators = true
ij_perl-_spaces_around_logical_operators = true
ij_perl-_spaces_around_multiplicative_operators = true
ij_perl-_spaces_around_range_operators = true
ij_perl-_spaces_around_relational_operators = true
ij_perl-_spaces_around_shift_operators = true
ij_perl-_spaces_around_unary_operator = false
ij_perl-_spaces_within_anon_array = true
ij_perl-_spaces_within_anon_hash = true
ij_perl-_spaces_within_braces = false
ij_perl-_spaces_within_cast_parentheses = false
ij_perl-_spaces_within_if_parentheses = false
ij_perl-_spaces_within_method_call_parentheses = false
ij_perl-_spaces_within_method_parentheses = false
ij_perl-_spaces_within_parentheses = false
ij_perl-_spaces_within_qw_quotes = false
ij_perl-_ternary_operation_signs_on_next_line = false
ij_perl-_ternary_operation_wrap = off
ij_perl-_variable_declaration_wrap = 0
ij_perl-_wrap_comments = false

[{*.har,*.jsb2,*.jsb3,*.json,*.jsonc,*.postman_collection,*.postman_collection.json,*.postman_environment,*.postman_environment.json,.babelrc,.eslintrc,.prettierrc,.stylelintrc,.ws-context,jest.config}]
indent_size = 2
ij_json_array_wrapping = split_into_lines
ij_json_keep_blank_lines_in_code = 0
ij_json_keep_indents_on_empty_lines = false
ij_json_keep_line_breaks = true
ij_json_keep_trailing_comma = false
ij_json_object_wrapping = split_into_lines
ij_json_property_alignment = do_not_align
ij_json_space_after_colon = true
ij_json_space_after_comma = true
ij_json_space_before_colon = false
ij_json_space_before_comma = false
ij_json_spaces_within_braces = false
ij_json_spaces_within_brackets = false
ij_json_wrap_long_lines = false

[{*.markdown,*.md}]
ij_markdown_force_one_space_after_blockquote_symbol = true
ij_markdown_force_one_space_after_header_symbol = true
ij_markdown_force_one_space_after_list_bullet = true
ij_markdown_force_one_space_between_words = true
ij_markdown_format_tables = true
ij_markdown_insert_quote_arrows_on_wrap = true
ij_markdown_keep_indents_on_empty_lines = false
ij_markdown_keep_line_breaks_inside_text_blocks = true
ij_markdown_max_lines_around_block_elements = 1
ij_markdown_max_lines_around_header = 1
ij_markdown_max_lines_between_paragraphs = 1
ij_markdown_min_lines_around_block_elements = 1
ij_markdown_min_lines_around_header = 1
ij_markdown_min_lines_between_paragraphs = 1
ij_markdown_wrap_text_if_long = true
ij_markdown_wrap_text_inside_blockquotes = true
